// Workout form page styles

// Fix textarea scrollbar respecting rounded corners
textarea#description {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
