<div
  [routerLink]="['/workouts', workout().id]"
  [state]="{ workout: workout() }"
  class="group relative flex flex-col gap-2 p-4 bg-card-dark rounded-xl shadow-sm border border-transparent hover:border-primary/50 transition-colors"
>
  <div class="flex items-center justify-between">
    <p class="text-base font-bold text-text-main leading-tight">{{ workout().name }}</p>
    <span class="text-xs font-bold bg-primary px-2 py-0.5 rounded text-black">Intermediate</span>
  </div>
  <div class="flex items-center gap-3 text-sm text-text-muted">
    <span
      ><span class="font-bold text-primary">{{ exerciseCount() }}</span> Exercises</span
    >
    <span class="mx-0.5">•</span>
    <span
      ><span class="font-bold text-primary">{{ setsCount() }}</span> Sets</span
    >
  </div>
</div>
